.title {
  font-family: 'allright';
  text-align: center;
  font-size: 36px; /* Increase main title font size */
}

.title h1 {
  font-size: 48px; /* Larger font size for the main heading */
  margin: 0; /* Remove default margins */
}

.title h2 {
  font-size: 24px; /* Slightly smaller for the subtitle */
  margin: 0; /* Remove default margins */
}
