<div class="countdown-container">
  <div class="countdown">
    <div class="unit-container">
      <span>{{ timeLeft.days || '0' }}</span>
      <p>DAYS</p>
    </div>
    <div class="unit-container">
      <span>{{ timeLeft.hours || '0' }}</span>
      <p>HOURS</p>
    </div>
    <div class="unit-container">
      <span>{{ timeLeft.minutes || '0' }}</span>
      <p>MINUTES</p>
    </div>
    <div class="unit-container">
      <span>{{ timeLeft.seconds || '0' }}</span>
      <p>SECONDS</p>
    </div>
  </div>
</div>
