.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black; /* Ensure text is visible on a dark background */
  height: 50vh;
}

.countdown {
  display: flex;
  gap: 20px;
}

.unit-container {
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 5px;
  padding: 10px;
}

.countdown div {
  text-align: center;
}

span {
  font-size: 64px; /* Adjust size as needed */
  font-weight: bolder;
  font-family: 'allright';
}

p {
  font-size: 24px;
  margin: 0;
  letter-spacing: 2px;
  font-family: 'allright';
}
