<div class="game-container">
  <div class="game-area">
    <!-- Grass Background -->
    <div class="grass"></div>

    <!-- Path -->
    <div class="path"></div>

    <!-- Trees and Bushes (Decorative Elements) -->
    <div class="tree" style="top: 50px; left: 100px;"></div>
    <div class="tree" style="top: 150px; left: 600px;"></div>
    <div class="bush" style="top: 300px; left: 200px;"></div>
    <div class="bush" style="top: 400px; left: 500px;"></div>

    <!-- Game Characters -->
    <div class="character" id="dog1" [style.left.px]="characters.dog1.x" [style.top.px]="characters.dog1.y"></div>
    <div class="character" id="dog2" [style.left.px]="characters.dog2.x" [style.top.px]="characters.dog2.y"></div>
    <div class="character" id="cat" [style.left.px]="characters.cat.x" [style.top.px]="characters.cat.y"></div>
    <div class="character" id="user" [style.left.px]="characters.user.x" [style.top.px]="characters.user.y"></div>
    <div class="character" id="partner" [style.left.px]="characters.partner.x" [style.top.px]="characters.partner.y"></div>

    <!-- Signs -->
    <div
      class="sign"
      *ngFor="let sign of signs"
      [style.left.px]="sign.x"
      [style.top.px]="sign.y"
    >
      <div *ngIf="activeSign === sign.id" class="popup">
        {{ sign.fact }}
      </div>
    </div>
  </div>
</div>
