<div class="rsvp-check">
  <h3>Check Your RSVP Status</h3>
  <div class="row">
    <div class="input-wrapper">
      <input
        id="firstName"
        type="text"
        [(ngModel)]="firstName"
        class="custom-input"
        placeholder=" "
      />
      <label for="firstName" class="custom-label">First Name</label>
    </div>
    <div class="input-wrapper">
      <input
        id="lastName"
        type="text"
        [(ngModel)]="lastName"
        class="custom-input"
        placeholder=" "
      />
      <label for="lastName" class="custom-label">Last Name</label>
    </div>
    <button class="custom-button" (click)="onSubmit()">
      <img
        src="../../../../assets/wired-outline-19-magnifier-zoom-search-hover-spin.gif"
        alt="Search Icon"
        class="search-icon"
      />
      <span>Search</span>
    </button>
  </div>
  <p class="status">{{ rsvpStatus }}</p>
</div>
