.navbar {
  font-family: 'light-cinematografica';
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around; /* Distributes links evenly with space around them */
  align-items: center; /* Aligns items vertically */
  background-color: rgba(
    240,
    240,
    240,
    0.6
  ); /* Optional: Add a background color */
  padding: 15px 0; /* Add more vertical padding */
  box-sizing: border-box; /* Ensure padding doesn't exceed width */
}

.navbar a {
  text-decoration: none; /* Removes underlines */
  color: #333; /* Adjust text color */
  padding: 0 20px; /* Add spacing between links */
  font-size: 30px; /* Increased font size for links */
  // font-weight: bold; /* Optional: Make links bold */
  letter-spacing: 5px;
}

.navbar a:hover {
  color: olive; /* Change color on hover (optional) */
}
