/* You can add global styles to this file, and also import other style files */

@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@font-face {
  font-family: 'allright';

  src: url('../public/allright.ttf'); /* Replace with your font file path */
}

@font-face {
  font-family: 'light-cinematografica';

  src: url('../public/Cinematografica-Light-trial.ttf'); /* Replace with your font file path */
}

@font-face {
  font-family: 'xt-light-cinematografica';

  src: url('../public/Cinematografica-Extralight-trial.ttf'); /* Replace with your font file path */
}
