/* You can add global styles to this file, and also import other style files */
@font-face {

      font-family: 'allright';
    
      src: url('../public/allright.ttf'); /* Replace with your font file path */
    
    }

    @font-face {

      font-family: 'light-cinematografica';
    
      src: url('../public/Cinematografica-Light-trial.ttf'); /* Replace with your font file path */
    
    }

    @font-face {

      font-family: 'xt-light-cinematografica';
    
      src: url('../public/Cinematografica-Extralight-trial.ttf'); /* Replace with your font file path */
    
    }