<main>
      <div class="navbar">
            <a href="{{navbar.home.link}}"> {{navbar.home.title}} </a>
            <a href="{{navbar.details.link}}"> {{navbar.details.title}} </a>
            <a href="{{navbar.rsvp.link}}"> {{navbar.rsvp.title}} </a>
            <a href="{{navbar.schedule.link}}"> {{navbar.schedule.title}} </a>
            <a href="{{navbar.photos.link}}"> {{navbar.photos.title}} </a>
            <a href="{{navbar.registry.link}}"> {{navbar.registry.title}} </a>
            <a href="{{navbar.game.link}}"> {{navbar.game.title}} </a>
      </div>
</main>